* {
    margin: 0;
    padding: 0;
}

body {
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #303d46;
}

li {
    list-style: none;
}

a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000000;
}

.wrapper {
    margin: 0 auto;
    max-width: 1000px;
}

.header {
    margin: 20px 0 20px 0;
    color: white;
}

/*------------------------------------Main+img+nav----------------------------------------------*/

main {
    padding: 20px 0 20px 20px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 5px -5px 0px 1px rgba(255, 255, 255, 0.8), 10px -10px 0px 1px rgba(255, 255, 255, 0.77), 15px -15px 0px 1px rgba(255, 255, 255, 0.73);
}

.me>img {
    margin: 0 0 20px 0;
    border: 2px solid #ffffff;
    border-radius: 100%;
    background: no-repeat;
}

nav {
    margin: 20px 0 20px 0;
}

nav :nth-child(n-1) {
    margin-top: 5px;
}

/*------------------------------------maininfo----------------------------------------------*/

.maininfo {
    margin: 0 0 0 20px;
    display: flex;
    flex-direction: column;
}

.about_me {
    padding: 20px 20px 20px 20px;
    text-align: justify;
    color: #ffffff;
    background-color: #313c4e;
}

.about_me :nth-child(1) {
    padding: 10px 0 10px 0;
    font-size: 45px;
}

.about_me :nth-child(2) {
    width: 30%;
    margin-bottom: 10px;
    padding: 10px 0 5px 0;
    border-bottom: 3px solid white;
}

.EXPERIENCE {
    width: 95%;
    margin: 20px 0 0 0;
    padding-left: 20px;
}

.EXPERIENCE>h3 {
    width: 95%;
    padding: 5px 0 5px 0;
    font-size: 24px;
    color: #313c4e;
    border-bottom: 3px solid #313c4e;
}

.EXPERIENCE>h4 {
    margin: 15px 0 0 0;
    padding: 5px 0 5px 0;
    font-size: 18px;
    color: #313c4e;
}

.EXPERIENCE h5 {
    margin: 15px 0 0 0;
}

.EXPERIENCE li {
    list-style: square;
}

.date {
    color: grey;
    font-size: 14px;
    font-style: italic;
}

.projects {
    margin: 20px 0 0 0;
    padding-left: 20px;
}

.projects h3 {
    width: 95%;
    padding: 5px 0 5px 0;
    font-size: 24px;
    color: #313c4e;
    border-bottom: 3px solid #313c4e;
}

.projects h4 {
    margin: 15px 0 0 0;
    padding: 5px 0 5px 0;
    font-size: 18px;
    color: #313c4e;
}

.projects li {
    width: 95%;
    margin: 5px 0 5px 0;
    list-style: square;
}

.education {
    width: 95%;
    margin: 20px 0 0 0;
    padding-left: 20px;
}

.education p {
    max-width: 95%;
    font-weight: bolder;
    opacity: 90%;
}

.education h3 {
    width: 95%;
    padding: 5px 0 5px 0;
    font-size: 24px;
    color: #313c4e;
    border-bottom: 3px solid #313c4e;
}

.education h4 {
    margin: 15px 0 0 0;
    padding: 5px 0 5px 0;
    font-size: 18px;
    color: #313c4e;
}

/*------------------------------------slidebar----------------------------------------------*/

.content h3 {
    width: 95%;
    padding: 5px 0 5px 0;
    font-size: 24px;
    color: #313c4e;
    border-bottom: 3px solid #313c4e;
}

.content div {
    margin: 5px 20px 5px 0;
}

.content li {
    margin: 5px 15px 5px 0;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
}

.skills li {
    padding: 10px;
    color: #ffffff;
    border: 2px solid rgba(48, 61, 70, 10%);
    background-color: rgba(48, 61, 70, 80%);
    border-radius: 10px;
}

.lang {
    display: flex;
    flex-wrap: wrap;
}

.lang :nth-child(2) {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.lang :nth-child(n+3) {
    width: 20px;
    height: 20px;
    border: 2px solid rgba(48, 61, 70, 50%);
    border-radius: 50%;
}

.marked {
    background-color: rgba(48, 61, 70, 100%);
}

.marked:hover {
    cursor: pointer;
    background-color: rgba(48, 61, 70, 100%);
    transform: scale(1.3);
}

.INTERESTS {
    display: flex;
    flex-wrap: wrap;
}

.INTERESTS div {
    margin-top: 10px;
    padding: 10px;
    color: #000000;
    border: 2px solid rgba(48, 61, 70, 10%);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

/*------------------------------------FOOTER----------------------------------------------*/

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.yearOftask {
    color: #fff;
    font-weight: 900;
}

@media screen and (max-width:768px) {
    main {
        display: flex;
        flex-direction: column;
    }
}